@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

:root {
  --primary: #41bcc3;
  --secondary: #08464b;
  --dark: #08262e;
  --red: #ef525e;
  --light-grey: #6f8c94;
}
