.rightbar {
  width: 19.5rem;
  border: 1px solid #e4e5e9;
  display: flex;
  flex-direction: column;
  transition: right 1s ease-in-out;
  .controls {
    border: 1px solid #e4e5e9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    .upload_button {
      background: var(--primary);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #ffffff;
      img {
        margin-right: 5px;
      }
    }
    .video_controls {
      border: 1px solid #e4e5e9;
      border-radius: 10px;
      display: flex;
      height: auto;
      align-items: center;
      img {
        margin: 5px 10px;
      }
    }
  }
  .lowerpart {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .sidenav {
      border: 1px solid #e4e5e9;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      div {
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.125rem;
        background-color: #ffffff;
        color: var(--secondary);
        padding: 5px 10px;
        cursor: pointer;
      }
      .active {
        color: #ffffff;
        background: var(--secondary);
      }
    }
    .content {
      flex-grow: 1;
      padding-top: 10px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .rightbar {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 50;
    background-color: white;
  }
}
